/* animate every accent to the primary color */
.s6-animate-accent-to-primary {
  animation: color-transition 0.5s linear;
}

/* abrupt color transition into the text base color */
@keyframes color-transition {
  0% {
    color: var(--accent);
  }
  99% {
    color: var(--primary);
  }
  100% {
    color: var(--accent);
  }
}

/* animate the hr tags */
hr {
  /* center the HR in whatever container it has without stepping on the bs5 styles */
  margin-left: auto;
  margin-right: auto;
  /* opacity: 1; */
  /* animate */
  animation: hr-transition 0.5s linear;
  /* animation: color-transition 0.5s linear; */
}
@keyframes hr-transition {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* animate the nav ul items */
.navbar-vertical ul a {
  /* animate */
  animation: li-transition 1.5s linear infinite;
}
/* very bad. do this with JS later */
.navbar-vertical li:nth-child(1) a {animation-delay: 0.00s;}
.navbar-vertical li:nth-child(2) a {animation-delay: 0.25s;}
.navbar-vertical li:nth-child(3) a {animation-delay: 0.50s;}
.navbar-vertical li:nth-child(4) a {animation-delay: 0.75s;}
.navbar-vertical li:nth-child(5) a {animation-delay: 1.00s;}
.navbar-vertical li:nth-child(6) a {animation-delay: 1.25s;}
/* the amount of delay should be equal to the total animation time divided by the links amount */

/* the animation should be an infinite loop that goes over every element and accentuates it a little bit with a hueshift */
@keyframes li-transition {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

