/* global */
/* @import url('https://fonts.googleapis.com/css2?family=Astloch&display=swap'); */
@font-face {
    font-family: 'IBM 3270';
    src: url("../assets/fonts/IBM3270/3270-Medium-500.ttf") format('truetype');
}
@font-face {
    font-family: 'Astloch';
    src: url("../assets/fonts/Astloch/Astloch-Regular.ttf") format('truetype');
}
/* could also add another gothic script font type here on the future:.. */
  

/* reset */
*{
    margin: 0;
    padding: 0;
    font-size: 24px;
}

/* whole body */
body{
    /* set bg color as hard grey */
    background-color: #181818;
    /* global font color for text */
    color: #c1af11;
    font-family: 'IBM 3270', monospace;
}

h1, h2, h3, h4, h5, h6{
    /* global font color for headings */
    color: #23a919;
    font-family: 'Astloch', cursive, sans-serif;
}
p {
    /* global font color for paragraphs */
    font-family: 'IBM 3270', monospace;
    text-align: justify;
}
.inline{
    display: inline-block;
}

/* head */
.nav-bar{
    text-align: center;
    background-color: #eefc26;
    position: fixed;
    height: 100vh; /* maximo pantalla de alto */
    /* ancho de la barra es igual al margin-left definido en main,footer */
    width: 6em;
    /* debugging>>transparency */
    /* opacity: 0.5; */
}

/* so the image updates its size to the parent container */
.logo-container img{
    width: 100%;
}

.nav-bar a{
    color: #181818;
    font-family: 'Astloch', cursive;
    font-weight: 800;
    text-decoration: none;
    padding: 0.1em 0.3em;
    transition: 0.15s;
    display: block;
}
/*  when hovering over the links: */
.nav-bar a:hover{
    /* invert the colors */
    background-color: #181818;
    color: #eefc26;
    /* move link to the right a little bit */
    padding-left: 15px;
}
.nav-bar ul li{
    list-style: none;
    /* chose 8% of the viewport height as margin, its the one that fits nicer */
    margin: 8vh 0;
}

/* IMPORTANT: displacement of the main and footer sections to fit the navbar */
main, footer{
    margin-left: 6em;
}

/* main */
main{
    /* background: #24641f; */
    padding-left: 2em;
    padding-top: 2em;
}

main .image-container{
    width: 15em;
    /* height: 100%; */
    font-weight: 400px;
}

main img{
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

hr{
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 50em;
    border: 1px solid;
}

main hr{
    border-color: #4c4c4c;
    /* width: 80%; */
    border-radius: 50em;
}

/* footer */
footer{
    font-family: 'Astloch', cursive;
    background-color: #1d1d1d;
    padding: .5em;
    text-align: center;
    /* font-weight: 400px; */
}

footer hr{
    border-color: #b5c111;
}


/* specific to pages */
/* Home */
section .searchbar-container{
    /* background: #383838; */
    width: 50%;
    padding: 1em;
}
section .searchbar-container input{
    background: #000000;
    color: #c1af11;
    font-family: 'IBM 3270', monospace;
    font-size: 1em;
    width: 25%;
    padding: .5em 2em;
    border: none;
    border-radius: 25px;
}
section .searchbar-container p{
    margin: 1em 0;
}
.info-panel .text, .info-panel .button{
    display: inline-block;
}
.info-panel .text{
    background: #789470;
    color: #000000;
    width: 80%;
    text-align: left;
    padding: 1em;
    font-size: .8em;
    letter-spacing: -1px;
    border-radius: 8px 45px 45px 8px;
    /* background: #000; */
}
.button{
    background: #269809;
    color: #000000;
    font-family: 'IBM 3270', monospace;
    /* uppercase always */
    text-transform: uppercase;
    padding: .1em .2em;
    border: none;
    border-radius: 8px;
    font-size: .8em;

}
section h3{
    text-align: center;
    margin: .5em 0;
}
.main-content{
    display: inline-flex;
    height: 100%;
}
.primary-content{
    height: 100%;
}
.secondary-content{
    height: 100%;
    width: 800px;
}
.secondary-content .highlighs{
    width: 60%;
}
.secondary-content .image-container{
    width: 100%;
    height: 100%;
    text-align: center;
}
.secondary-content .image-container img{
    width: 100%;
    height: 100%;
    border-radius: 3em;
    margin: .2em 0;
}
.post .author{
    width: 100%;
    /* background: #d22f2f; */
    text-align: left;
    height: 3em;
    margin: .5em 0;
}
.post .author img{
    width: auto;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
}
.post .author p{
    display: inline-block;
    margin-left: .5em;
}

.post{
    padding: 1em;
    text-align: center;
    /* background: #000; */
}

.post .content{
    /* background: #d22f2f; */
    width: 100%;
    height: 100%;
}
.post .content .image-container{
    width: 100%;
    height: 100%;
    text-align: center;
}
.post .content .image-container img{
    border-radius: 3em;
}

/* Gallery */
.gallery{
    text-align: center;
}
.gallery p{
    margin: 1em 0;
    /* width: 500px; */
    text-align: center;
}
.gallery .image-container{
    margin: 1em;
}
.gallery .image-container img{
    /* text-align: center; */
    border-radius: 1em;
}

/* Shop */
.shop{
    /* align-items: center; */
    text-align: center;
    width: 100%;
}
.shop .main-content{
    width: 100%;
}
.shop p{
    margin: 1em 0;
    text-align: center;
}
.shop .carousel .image-container{
    width: fit-content;
    /* border-radius: 3em; */
}
.shop .carousel .image-container img{
    width: 400px;
    height: 400px;
    border-radius: 3em;
    margin-bottom: 1em;
}
.shop .payment-methods-panel{
    background: #242424;
    border-radius: 1em;
    padding: 1em;
    /* width: 100%; */
    margin-bottom: 1em;
}
.shop .payment-methods-panel .image-container{
    width: 150px;
    margin: 1em;
}
.shop .payment-methods-panel .image-container img{
    border: 4px solid #000;
}
.shop .merch-panel .image-container{
    width: 100px;
    height: 100px;
    margin: 1em;
}
.shop .merch-panel .image-container img{
    border: 4px solid #000;
    border-radius: 50%;
}

/* Nexus */
#link-nexus .nav-bar,footer{
    /* display: none; */
    opacity: 0.1;
}
#link-nexus .nav-bar:hover,footer:hover{
    opacity: 1;
}
#link-nexus main{
    background-color: #000000;
    height: 95vh;
}

#link-nexus main .title{
    display: block;
    text-align: center;
    background-color: #424242;
    width: 100%;
}
#link-nexus .nexus-link{
    position: absolute;
    color: #c1af11;
    background: #083b19;
    padding: .5em;
    min-width: 150px;
    text-align: center;
    border-radius: 20px;
}

#link-nexus .nl-4{
    top: 80%;
    left: 50%;
}
#link-nexus .nl-3{
    top: 50%;
    left: 50%;
}
#link-nexus .nl-1{
    top: 65%;
    left: 35%;
}
#link-nexus .nl-2{
    top: 65%;
    left: 65%;
}
#link-nexus .nl-5{
    top: 20%;
    left: 50%;
}
#link-nexus .nl-6{
    top: 35%;
    left: 35%;
}
#link-nexus .nl-7{
    top: 35%;
    left: 65%;
}
