@charset "UTF-8";
/* Variables Setup */
/* Reset Setup */
:root {
  /* 1rem = 18px */
  font-size: 18px;
}

/* reset learned from https://gist.github.com/Asjas/4b0736108d56197fce0ec9068145b421 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default margin */
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

img, picture {
  max-width: 100%;
  /* display: block; */
}

/* headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "Astloch", cursive;
  font-weight: normal;
  color: #65e4e8;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

/* Fonts Setup */
@font-face {
  font-family: "IBM 3270";
  src: url("../assets/fonts/IBM3270/3270-Medium-500.ttf") format("truetype");
}
@font-face {
  font-family: "Astloch";
  src: url("../assets/fonts/Astloch/Astloch-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inconsolata";
  src: url("../assets/fonts/Inconsolata/Inconsolata-Regular.ttf");
}
/* could also add another gothic script font type here on the future:.. */
/* Mixins Setup */
/* Scrollbar Setup */
body::-webkit-scrollbar {
  width: 0.7vw;
}

body::-webkit-scrollbar:horizontal {
  height: 0.7vw;
}

body::-webkit-scrollbar-track,
body::-webkit-scrollbar-corner {
  background: #0c0c0c;
}

body::-webkit-scrollbar-thumb {
  background: #24641f;
  border-radius: 0.5rem;
}

body::-webkit-scrollbar-thumb:hover {
  background: #28c11c;
}

/* highlight setup */
::selection {
  color: #28c11c;
  background-color: #073f2c;
}

/* Body Setup */
body {
  background-color: #0c0c0c;
  color: #c1af11;
  font-family: "IBM 3270", monospace;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "navbar main" "navbar footer";
}
@media screen and (max-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1f auto;
    /* removed footer */
    grid-template-areas: "main" "navbar";
  }
}

/* Header Setup */
@media screen and (max-width: 768px) {
  header {
    width: 100%;
  }
}

/* Main Setup */
main {
  grid-area: main;
  margin-left: 14rem;
  margin-bottom: 0;
  padding: 0 1rem;
}
main section {
  margin: 1rem 0;
}
@media screen and (max-width: 768px) {
  main {
    grid-area: main;
    margin-left: 0;
    margin-bottom: 2rem; /* todo: change this for a variable approach based on the navbar height */
    padding: 1rem;
  }
}

/* Search Bar Setup */
.section-seachbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.section-seachbar .searchbar-container {
  margin: 1rem;
  color: #313131;
  width: 100%;
  max-width: 20rem;
  /* padding: 1em; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* set as parent container */
  position: relative;
}
.section-seachbar .searchbar-container .search-icon {
  position: absolute;
  left: 0.6em;
}
.section-seachbar .searchbar-container input {
  text-align: left;
  width: 100%;
  color: #28c11c;
  background: #e8e8e8;
  padding: 0.5em 2em;
  border: none;
  border-radius: 25px;
}
.section-seachbar .searchbar-container input::placeholder {
  color: #313131;
}
.section-seachbar .searchbar-container input:focus {
  outline: none;
}
.section-seachbar .searchbar-container .badge {
  position: absolute;
  right: 0.6em;
}

/* Footer Setup */
footer {
  grid-area: footer;
  margin-left: 14rem;
  padding: 0 1rem;
}
@media screen and (max-width: 768px) {
  footer {
    /* hidden footer for mobile. Why are there footers anyways?.. */
    grid-area: none;
    display: none;
    margin-left: 0;
  }
}

/* Vertical Navbar Setup */
.navbar-vertical {
  /* move to the top z index. this is cause of the layout change for mobile */
  z-index: 1;
  /* bg color */
  background: #0c0c0c;
  /* positioning */
  grid-area: navbar;
  position: fixed;
  display: flex;
  flex-direction: column;
  /* alignment */
  align-items: center;
  justify-content: flex-start;
  /* size */
  height: 100vh;
  width: 14rem;
  border-right: 1px solid #313131;
  border-bottom: none;
}
.navbar-vertical .logo-container {
  padding: 1rem;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-vertical .logo-container img {
  object-fit: cover;
  border-radius: 50%;
}
.navbar-vertical ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
.navbar-vertical a {
  font-family: "Inconsolata", monospace;
  color: #65e4e8;
  font-size: 1.6rem;
  text-decoration: none;
}
.navbar-vertical a:hover {
  color: #28c11c;
}
.navbar-vertical a:active {
  color: #28c11c;
}
@media screen and (max-width: 768px) {
  .navbar-vertical {
    grid-area: navbar;
    /* swap solid color for transparent one. */
    background: none;
    /* swap height and width */
    width: 100%;
    height: auto;
    /* positioning */
    position: fixed;
    bottom: 0;
    /* swap flex direction to row */
    display: flex;
    flex-direction: row;
    /* content alignment */
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #313131;
    border-right: none;
  }
  .navbar-vertical::before {
    content: ""; /* essential, dont remove */
    position: absolute;
    /* strech over parent element */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* add filter */
    backdrop-filter: blur(6px) saturate(10%);
    z-index: -1; /* put it behind the navbar */
  }
  .navbar-vertical .logo-container {
    display: none;
  }
  .navbar-vertical ul {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }
  .navbar-vertical a {
    /* reduced font size for mobile */
    font-size: 1.2rem;
  }
}

/* navbar options button styling */
.options-button-container {
  /* reset the button tag styles to none */
  background: none;
  border: none;
  padding: 0;
  margin: 1rem 0 2rem 0;
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.options-button-container .line {
  width: 2rem;
  height: 0.15rem;
  background-color: #65e4e8;
  border-radius: 0.05rem;
  transition: 0.1s;
}
.options-button-container:hover .line {
  background-color: #1d7874;
  width: 2.2rem;
}
@media screen and (max-width: 768px) {
  .options-button-container {
    margin: 1rem 0 1rem 0;
  }
}

/* s6 Helper Styles */
.s6 {
  /* s6 brightness utilities setup */
  /* encapsulator without hover effects */
  /* encapsulator with hover effects */
  /* shop secondary content */
}
.s6-debug-bg {
  background-color: #880000;
}
.s6-text-accent {
  color: #28c11c;
}
.s6-bg-accent {
  color: #0c0c0c;
  background-color: #28c11c;
}
.s6-filter-brightness-5 {
  filter: brightness(0.05);
  transition: 0.2s;
}
.s6-filter-brightness-5:hover {
  filter: brightness(1);
}
.s6-filter-brightness-10 {
  filter: brightness(0.1);
  transition: 0.2s;
}
.s6-filter-brightness-10:hover {
  filter: brightness(1);
}
.s6-filter-brightness-15 {
  filter: brightness(0.15);
  transition: 0.2s;
}
.s6-filter-brightness-15:hover {
  filter: brightness(1);
}
.s6-filter-brightness-20 {
  filter: brightness(0.2);
  transition: 0.2s;
}
.s6-filter-brightness-20:hover {
  filter: brightness(1);
}
.s6-filter-brightness-25 {
  filter: brightness(0.25);
  transition: 0.2s;
}
.s6-filter-brightness-25:hover {
  filter: brightness(1);
}
.s6-filter-brightness-30 {
  filter: brightness(0.3);
  transition: 0.2s;
}
.s6-filter-brightness-30:hover {
  filter: brightness(1);
}
.s6-filter-brightness-35 {
  filter: brightness(0.35);
  transition: 0.2s;
}
.s6-filter-brightness-35:hover {
  filter: brightness(1);
}
.s6-filter-brightness-40 {
  filter: brightness(0.4);
  transition: 0.2s;
}
.s6-filter-brightness-40:hover {
  filter: brightness(1);
}
.s6-filter-brightness-45 {
  filter: brightness(0.45);
  transition: 0.2s;
}
.s6-filter-brightness-45:hover {
  filter: brightness(1);
}
.s6-filter-brightness-50 {
  filter: brightness(0.5);
  transition: 0.2s;
}
.s6-filter-brightness-50:hover {
  filter: brightness(1);
}
.s6-filter-brightness-55 {
  filter: brightness(0.55);
  transition: 0.2s;
}
.s6-filter-brightness-55:hover {
  filter: brightness(1);
}
.s6-filter-brightness-60 {
  filter: brightness(0.6);
  transition: 0.2s;
}
.s6-filter-brightness-60:hover {
  filter: brightness(1);
}
.s6-filter-brightness-65 {
  filter: brightness(0.65);
  transition: 0.2s;
}
.s6-filter-brightness-65:hover {
  filter: brightness(1);
}
.s6-filter-brightness-70 {
  filter: brightness(0.7);
  transition: 0.2s;
}
.s6-filter-brightness-70:hover {
  filter: brightness(1);
}
.s6-filter-brightness-75 {
  filter: brightness(0.75);
  transition: 0.2s;
}
.s6-filter-brightness-75:hover {
  filter: brightness(1);
}
.s6-filter-brightness-80 {
  filter: brightness(0.8);
  transition: 0.2s;
}
.s6-filter-brightness-80:hover {
  filter: brightness(1);
}
.s6-filter-brightness-85 {
  filter: brightness(0.85);
  transition: 0.2s;
}
.s6-filter-brightness-85:hover {
  filter: brightness(1);
}
.s6-filter-brightness-90 {
  filter: brightness(0.9);
  transition: 0.2s;
}
.s6-filter-brightness-90:hover {
  filter: brightness(1);
}
.s6-filter-brightness-95 {
  filter: brightness(0.95);
  transition: 0.2s;
}
.s6-filter-brightness-95:hover {
  filter: brightness(1);
}
.s6-filter-brightness-100 {
  filter: brightness(1);
  transition: 0.2s;
}
.s6-filter-brightness-100:hover {
  filter: brightness(1);
}
.s6-encapsulator-double:before {
  content: "«";
}
.s6-encapsulator-double:after {
  content: "»";
}
.s6-encapsulator {
  text-transform: uppercase;
}
.s6-encapsulator:before, .s6-encapsulator:after {
  transition: content 0.8s;
  /* color: $encapsulator-color); */
}
.s6-encapsulator:before {
  content: "‹";
}
.s6-encapsulator:after {
  content: "›";
}
.s6-encapsulator:hover:before {
  content: "«";
}
.s6-encapsulator:hover:after {
  content: "»";
}
.s6-secondary-content {
  background-color: #313131;
}
.s6-img-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.s6-aspect-ratio-square-1 {
  width: 1rem;
  height: 1rem;
}
.s6-aspect-ratio-square-2 {
  width: 2rem;
  height: 2rem;
}
.s6-aspect-ratio-square-3 {
  width: 3rem;
  height: 3rem;
}
.s6-aspect-ratio-square-4 {
  width: 4rem;
  height: 4rem;
}
.s6-aspect-ratio-square-5 {
  width: 5rem;
  height: 5rem;
}
.s6-btn {
  background: #269809;
  color: #000000;
  font-family: "IBM 3270", monospace;
  padding: 0.1em 0.2em;
}

/* animate every accent to the primary color */
.s6-animate-accent-to-primary {
  animation: s6-letter-color-transition 0.5s linear;
}

/* animate the hr tags */
hr {
  /* center the HR in whatever container it has without stepping on the bs5 styles */
  margin-left: auto;
  margin-right: auto;
  animation: s6-section-breaker 0.5s linear;
}

/* animate the navbar items */
.navbar-vertical li:nth-child(1) a {
  animation-delay: 0s;
}
.navbar-vertical li:nth-child(2) a {
  animation-delay: 0.25s;
}
.navbar-vertical li:nth-child(3) a {
  animation-delay: 0.5s;
}
.navbar-vertical li:nth-child(4) a {
  animation-delay: 0.75s;
}
.navbar-vertical li:nth-child(5) a {
  animation-delay: 1s;
}
.navbar-vertical li:nth-child(6) a {
  animation-delay: 1.25s;
}
.navbar-vertical ul a {
  animation: s6-transparency-wave 1.5s linear infinite;
}
.navbar-vertical .logo-container img {
  animation: s6-logo-passive-rotation 10s linear infinite;
  filter: none;
  transition: filter 0.2s linear; /* this is to make the logo glow when hovered */
}
.navbar-vertical .logo-container img:hover {
  filter: drop-shadow(0 0 0.5rem #28c11c);
}

/* the logo is a rounded circle, make it flip around like a coin */
@keyframes s6-logo-passive-rotation {
  0% {
    transform: rotateY(0deg) rotateX(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateY(360deg) rotateX(10deg) rotateZ(0deg);
  }
}
@keyframes s6-transparency-wave {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
/* abrupt color transition into the text base color */
@keyframes s6-letter-color-transition {
  0% {
    color: #28c11c;
  }
  99% {
    color: #c1af11;
  }
  100% {
    color: #28c11c;
  }
}
@keyframes s6-section-breaker {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
