/* Search Bar Setup */
.section-seachbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.searchbar-container {
	margin: 1rem;
	color: $light-grey;
	width: 100%;
	max-width: 20rem;
	/* padding: 1em; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	/* set as parent container */
	position: relative;
}
.searchbar-container .search-icon {
	position: absolute;
	left: 0.6em;
}
.searchbar-container input {
	text-align: left;
	width: 100%;
	color: $accent;
	background: $light-white;
	padding: 0.5em 2em;
	border: none;
	border-radius: 25px;
}
.searchbar-container input::placeholder {
	color: $light-grey;
}
.searchbar-container input:focus {
	outline: none;
}

.searchbar-container .badge {
	position: absolute;
	right: 0.6em;
}
